<template>
  <q-page padding>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Home" :to="{ name: 'GeneralIndex' }" />
      <q-breadcrumbs-el label="Cats" :to="{ name: 'CatsIndex' }" />
      <q-breadcrumbs-el label="Create" />
    </q-breadcrumbs>

    <h1>Create Cat Fact</h1>

    <q-form @submit.prevent="onSubmit">
      <q-input
        outlined
        v-model="fact"
        label="Fact"
        :rules="[value => !!value || 'A fact is Required']"
      />

      <q-btn type="submit" color="positive" label="Save Fact" class="q-mt-md" />
    </q-form>
  </q-page>
</template>

<script lang="ts" setup>
import useCatsStore from 'stores/cats'
import { onBeforeMount, ref } from 'vue'
import { useRoute } from 'vue-router'

const catsStore = useCatsStore()
const route = useRoute()

const fact = ref('')

function onSubmit () {
  catsStore.updateFact(catsStore.fact.id as number, { fact })
}

onBeforeMount(() => {
  catsStore.getFact(Number(route.params.id))
    .then(() => {
      fact.value = catsStore.fact.fact
    })
})
</script>
